.blog{
  margin: 1rem 0;
  padding: 1rem;
  background-color: #fff;
  border-left: 0.5rem solid #fff;  
  transition: 0.1s ease-in-out;
}
.blog:hover{
  border-left: 0.5rem solid #ff4b4b;  
  box-shadow: 1px 1px 3px #33333310;
}


.title{
  border-bottom: 0.5px solid #ccc;
}
.blog_info{
  color: #bbb;
  font-style: italic;
  display: block;
  margin-bottom: 1rem;
}
.read_more{
  padding: 0.2rem;
  margin-top: 0.6rem;
  display: block;
  width: max-content;
  border: #333 solid 2px;
  border-radius: 0.3rem;
  transition: 0.1s ease-in-out;
}
.read_more:hover{
  background-color: #333;
  color: #fff;
}